<%= csrf_meta_tag %>
<div style="width:49%;float: left;height:500px;border:1px black solid;background-color: indianred;">
    <span style="font-size: 150px;
            margin-top: 200px;
            margin-left: 244px;
            position: absolute;">
        <%= @game.red_count %>
    </span>
</div>
<div style="width:50%;float: right;height:500px;border:1px black solid;background-color: greenyellow;">
    <span style="font-size: 150px;
            margin-top: 200px;
            margin-left: 244px;
            position: absolute;">
        <%= @game.green_count %>
    </span>
</div>
<div style="clear:both"></div>
